RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_EXCHANGE=
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_QUEUE_NAME=
RABBITMQ_INBOUND_ROUTING_KEY=
RABBITMQ_OUTBOUND_ROUTING_KEY=

AWS_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

S3_BUCKET_NAME=
